* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    background: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    padding-top: 40px;
}

.nav-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

.nav-items {
    padding-top: 50px;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 35px;
    font-weight: 600;
}

.header-title {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 320px;
    font-weight: 600;
}

.header-text {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
}

.header-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.header-btn a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 45px;
    border: 2px solid #fff;
    transition: color .2s linear;
    transition: background-color .2s linear;
}

.header-btn a:hover {
    background-color: #fff;
    color: #712117;
}

.services-title {
    color: #555;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
}

.services-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #555;
    margin: 0 auto;
    margin-top: 30px;
}

.services-text {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color: #555;
}

.services-items {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.services-item {
    max-width: 370px;
    padding: 10px;
}

.services-item__img {
    display: flex;
    justify-content: center;
}

.services-item__title {
    display: flex;
    justify-content: center;
}

.services-item__title span {
    color: #555;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.services-item__text {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 100px;
}

.about {
    background-color: #f8f8f8;
}

.about-title {
    color: #555;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 100px;
}

.about-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #555;
    margin: 0 auto;
    margin-top: 30px;
}

.about-text {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color: #555;
}

.about-info {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 60px;
}

.about-info__item {
    max-width: 555px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 1.5;
}

.wrapper {
    min-height: 100%;
}

.about-slider .swiper-button-prev::after,
.about-slider .swiper-button-next::after {
    font-size: 15px;
    color: #fff;
    background-color: #8b8b8b;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 150px;

    padding-top: 12px;
    padding-bottom: 12px;
}

.about-slider .swiper-button-prev::after{
    margin-left: 18px;
}

.about-slider .swiper-button-next::after{
    margin-right: 18px;
}

.about-slider .swiper-button-prev:hover::after,
.about-slider .swiper-button-next:hover::after {
    background-color: red;
}

.about-item__title {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 15px;
    color: #555;
}

.about-item__text {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    color: #555;
    font-size: 14px;
    padding-top: 15px;
}

.slider-slide-item {
    position: relative;
    padding: 0 10px;
}


.slider-slide-item img {
    transition: filter .1s linear;
    width: 100%;
}

.slider-slide-item:hover img {
    filter: brightness(60%);
}

.about-item-icons {
    position: absolute;
    top: 55%;
    left: 20%;
    cursor: pointer;
    display: none;
}

.about-item-icons i {
    font-size: 14px;
    margin-left: 2px;
    color: #fff;
    padding: 10px 10px;
    transition: background-color .1s linear;
}

.slider-slide-item:hover .about-item-icons {
    display: inline-block;
}

.about-item-icons i:hover {
    background-color: #c0301c;
}

.slider-slide-inner {
    margin-bottom: 100px;
}

.works {
    margin-bottom: 80px;
}

.works-title {
    color: #555;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 100px;
}

.works-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #555;
    margin: 0 auto;
    margin-top: 30px;
}

.works-links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.works-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #555;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    transition: color .1s linear;
}

.works-links a:hover {
    color: #c0301c;
}

.works-img {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.works-img__inner img{
    position: relative;
}

.works-img__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.works-image{
    margin-bottom: 10px;
}

.works-cover{
    position: relative;
}

.works-img__cover{
    position: absolute;
    width: 100%;
    height: 96.2%;
    background-color: #c02f1cad;
    top: 0;
    opacity: 0;
    transition: opacity .1s linear;
}

.works-cover:hover .works-img__cover{
    opacity: 1;
}

.img-cover__title{
    text-align: center;
    color: #fff;
    padding-top: 100px;
    font-weight: 600;
    font-size: 24px;

}

.img-cover__text{
    color: #fff;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 10px;
}

.img-cover__btn{
    display: flex;
    justify-content: center;
}

.img-cover__btn a{
    text-transform: uppercase;
    color: #fff;
    padding: 10px 50px;
    border: 2px solid #fff;
    text-decoration: none;
    margin-top: 40px;
    font-weight: 600;
    transition: color .1s linear;
    transition: background-color .1s linear;
}

.img-cover__btn a:hover{
    background-color: #fff;
    color: #9d381e;
}

.call {
    background: url(../images/background2.jpg);
    max-height: 400px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.call-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    line-height: 1.5;
    padding-top: 100px;
}

.call-button {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.call-btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 50px;
    border: 2px solid #fff;
    padding: 20px 40px;
    font-weight: 600;
    transition: color .1s linear;
    transition: background-color .1s linear;
}

.call-btn:hover {
    background-color: #fff;
    color: #9d381e;
}

.blog-title {
    color: #555;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 100px;
}

.blog-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #555;
    margin: 0 auto;
    margin-top: 30px;
}

.blog-text {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color: #555;
    margin-bottom: 90px;
}

.blog-item{
    display: flex;
}

.blog-info{
    padding-left: 40px;
}

.blog-date__day{
    text-align: center;
    color: #555;
    font-weight: 700;
    font-size: 20px;
}

.blog-date-month{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 10px;
}

.blog-date{
    border: 3px solid #555;
    padding: 20px 25px;
}

.blog-info__main{
    display: flex;
}

.blog-info-title{
    text-transform: uppercase;
    color: #c03011;
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 20px;
}

.blog-info-text{
    margin-left: 121px;
    margin-top: -40px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

.blog-info-text span{
    color: #c03011;
}

.blog-info-bigtext{
    margin-top: 50px;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}

.blog-info-link{
    text-decoration: none;
    color: #c03011;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 600;
}

.blog-item{
    padding-bottom: 35px;
}

.blog-item:last-child{
    border-top: 1px solid #dddddd;
    padding-top: 35px;
    padding-bottom: 100px;
}

.brand-slider-images{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.brand-slider-images img{
    max-width: 100%;
    max-height: 100%;
    padding: 10px 10px;
}

.brand{
    background-color: #f8f8f8;
    padding-top: 80px;
}

.brand-slider-text{
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    font-style: italic;
}

.brand-slider-title{
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 70px;
}

.brand-slider .swiper-pagination{
    bottom: 0;
}

.brand-wrapper{
    padding-top: 30px;
    padding-bottom: 60px;
}

.brand-slider .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background-color: #c0301c;
}

.contact-title {
    color: #555;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 100px;
}

.contact-title::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #555;
    margin: 0 auto;
    margin-top: 30px;
}

.contact-text {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    color: #555;
    margin-bottom: 60px;
}

.contact-contacts{
    width: 280px;
    display: inline-block;
}

.contact-inner{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.contact-forms{
    display: inline-block;
    width: 733px;
}

.contact-form-item{
    padding-bottom: 30px;
}

.contact-form-item i{
    font-size: 24px;
    color: #555;
}

.contact-form-title{
    text-transform: uppercase;
    font-weight: 600;
    color: #555;
    padding-left: 10px;
}

.contact-form-text{
    padding-left: 32px;
    padding-top: 15px;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    color: #555;
    line-height: 1.5;
}

.contact-form-input{
    font-family: 'Roboto Slab', serif;
    max-width: 350px;
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #555;
    outline: none;
}

.contact-form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-form-input:focus{
    border: 2px solid #c03011;
}

.contact-form-textarea{
    width: 100%;
}

.contact-form-textarea{
    font-family: 'Roboto Slab', serif;
    max-width: 100%;
    height: 90px;
    text-transform: uppercase;
    padding-left: 12px;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #555;
    outline: none;
    padding-bottom: 45px;
    margin-bottom: 20px;
}

.contact-form-textarea:focus{
    border: 2px solid #c03011;
}

.contact-form-btn{
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #555;
    padding: 15px 40px;
    font-family: 'Roboto Slab', serif;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    transition: all .2s linear;
}

.contact-form-btn:hover{
    background-color: #c03011;
    color: #fff;
    border: 2px solid #c03011;
}

.contacts-form-suptext{
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    color: #555;
    padding-left: 10px;
    display: inline;
}

.contact-form-case{
    display: inline-block;
}

.contacts-form-suptext::before{
    content: "*";
    color: #c03011;
    font-size: 14px;
    padding-right: 3px;
}

.contact{
    padding-bottom: 50px;
}

.footer{
    height: 300px;
    background-color: #c0301c;
}

.footer-icons{
    max-width: 290px;
    margin: 0 auto;
    padding-top: 100px;
}

.footer-icons i{
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
}

.footer-icons::after{
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 40px;
}

.footer-text{
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    letter-spacing: 1px;
}

@media (max-width: 1140px){
    .nav-items a{
        font-size: 20px;
    }
    .nav-logo a{
        font-size: 30px;
    }
    .about-info__item{
        max-width: 500px;
    }
}

@media (max-width: 1108px){
    .works-img__inner{
        justify-content: center;
    }
    .works-image{
        margin-right: 10px;
    }
    .works-img__cover{
        width: 97.3%;
    }
}

@media (max-width: 1050px){
    .contact-inner{
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact-contacts{
        margin-bottom: 30px;
    }
    .contact-forms{
        margin-bottom: 40px;
    }
}

@media (max-width: 1000px){
    .about-info__item{
        max-width: 400px;
    }
}

@media (max-width: 978px){
    .blog-info-text{
        padding-top: 15px;
    }
}

@media (max-width: 936px){
    .nav-items a{
        font-size: 14px;
    }
}

@media (max-width: 845px){
    .blog-item{
        flex-wrap: wrap;
        justify-content: center;
    }
    .blog-info{
        margin-top: 50px;
    }
    .about-info__item{
        max-width: 330px;
    }
    .blog-text{
        margin-bottom: 50px;
    }
}

@media (max-width: 700px){
    .brand-slider-images{
        flex-wrap: wrap;
    }
    .about-info{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-info__item{
        margin-bottom: 30px;
        text-align: center;
    }
    .about-info__item:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 626px){
    .services-items{
        flex-wrap: wrap;
        justify-content: center;
    }
    .services-item__text{
        margin-bottom: 30px;
    }
    .contacts-form-suptext{
        display: block;
        margin-top: 50px;
        padding-left: 0;
        text-align: center;
    }
    .contact{
        padding-bottom: 0;
    }
    .contact-form-case{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 500px){
    .call-title{
        font-size: 24px;
    }
}

@media (max-width: 475px){
    .works-links{
        flex-direction: column;
        align-items: center;
    }
    .works-links a{
        margin-left: 0;
        padding: 10px 0;
    }
    .blog-info{
        padding-left: 0;
    }
    .blog-image img{
        width: 100%;
    }
}

@media (max-width: 425px){
    .header-title{
        margin-top: 300px;
    }
}

@media (max-width: 320px){
    .works-image{
        width: 100%;
    }
    .works-img__cover{
        width: 100%;
        height: 95.5%;
    }
    .footer-text span{
        text-align: center;
    }
    .blog-info-text{
        padding-top: 30px;
    }
    .blog-info-bigtext {
        margin-top: 30px;
    }
    .header-title{
        margin-top: 250px;
    }
}